    .slider {
        -webkit-appearance: none;
        appearance: none;
        width: 85%;
        max-width: 400px;
        height: 30px;
        background: #d3d3d3;
        border-radius: 7px;
        outline: none;
        padding: 2px;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;

    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        width: 25px;
        /* Set a specific slider handle width */
        height: 25px;
        /* Slider handle height */
        border-radius: 7px;
        background: orange;
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 25px;
        /* Set a specific slider handle width */
        height: 25px;
        /* Slider handle height */
        background: #04AA6D;
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
    }