*{
  color: rgb(75 85 99 1);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: white;
  color: rgb(75 85 99 1);
  display: flex;
  justify-content: center;
  margin-bottom:50px ;
  align-items: center;
  z-index: 400;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  align-self: start;
}

.navbar {
  display: flex;
  justify-items: end;
  flex-wrap: wrap;
  align-items: center;
}

#cart {
  align-self: flex-end;
  position: absolute;
  top: 30%;
  left: 90%;
}

.navbar button {
  cursor: pointer;
  font-size: 16px;
  color: rgb(75 85 99 1);
  text-decoration: none;
  font-weight: 500;
}

#check {
  display: none;
}

.icons {
  align-self: flex-end;
  position: absolute;
  font-size: 2rem;
  color: rgb(75 85 99 1);
  cursor: pointer;
  display: none;
}
