.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    background: linear-gradient(90deg,#35414c , rgb(146, 146, 146), #35414c);
    backdrop-filter: blur(8px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
}


.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    align-self: start;
}
.navbar{
    display: flex;
    justify-items: center;
    align-items: center;
}

.navbar button {
    cursor: pointer;
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    align-self: flex-end;
    position: absolute;
    font-size: 2.3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}